# imports

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# load data

In [16]:
data_raw = pd.read_csv('data/clients.csv')

In [17]:
data_raw

,id,gender,age,region_code,policy_sales_channel,id.1,previously_insured,annual_premium,vintage,response,id.2,driving_license,vehicle_age,vehicle_damage
0,1,Male,44,28.0,26.0,1,0,40454.0,217,1,1,1,> 2 Years,Yes
1,2,Male,76,3.0,26.0,2,0,33536.0,183,0,2,1,1-2 Year,No
2,3,Male,47,28.0,26.0,3,0,38294.0,27,1,3,1,> 2 Years,Yes
3,4,Male,21,11.0,152.0,4,1,28619.0,203,0,4,1,< 1 Year,No
4,5,Female,29,41.0,152.0,5,1,27496.0,39,0,5,1,< 1 Year,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381104,381105,Male,74,26.0,26.0,381105,1,30170.0,88,0,381105,1,1-2 Year,No
381105,381106,Male,30,37.0,152.0,381106,1,40016.0,131,0,381106,1,< 1 Year,No
381106,381107,Male,21,30.0,160.0,381107,1,35118.0,161,0,381107,1,< 1 Year,No
381107,381108,Female,68,14.0,124.0,381108,0,44617.0,74,0,381108,1,> 2 Years,Yes
381108,381109,Male,46,29.0,26.0,381109,0,41777.0,237,0,381109,1,1-2 Year,No